<footer>
  <h2><a href="/">Lupita&apos;s</a></h2>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/locations/zanzibar">Zanzibar, Tanzania</a></li>
    <li><a href="/locations/zurich">Z&uuml;rich, Switzerland</a></li>
    <li><a href="/locations/zacatecas">Zacatecas, Mexico</a></li>
    <li><a href="/">Home</a></li>
  </ul>
</footer>
