<div>
  <div>
    <h3>View Menus</h3>
    <li><a href="/locations/{{locationName}}/menus/breakfast">Breakfast</a></li>
    <li><a href="/locations/{{locationName}}/menus/lunch">Lunch</a></li>
    <li><a href="/locations/{{locationName}}/menus/dinner">Dinner</a></li>
  </div>

  <h3><a href="/locations/{{locationName}}/photos">View Photos</a></h3>
</div>
